body{margin:0;font-family:Arial;background:#f5f8ff;color:#102040;display:flex}
aside{width:240px;min-height:100vh;background:#092044;color:white;padding:25px}
aside a,button{display:block;margin:18px 0;color:white;text-decoration:none}
button{background:#1769ff;border:0;padding:12px;border-radius:10px}
main{padding:50px;flex:1}
.cards{display:flex;gap:20px}
.cards div{background:white;padding:40px;border-radius:25px;flex:1;box-shadow:0 5px 20px #ddd}