
body{margin:0;font-family:Arial;background:#f4f8ff;color:#102040;display:flex}
.sidebar{width:240px;background:#092044;color:white;min-height:100vh;padding:25px}
.sidebar a{display:block;padding:15px;color:white}
main{padding:50px;flex:1}.login{float:right;background:#1769ff;color:white;border:0;padding:12px 30px;border-radius:10px}
.small{color:#1769ff;letter-spacing:4px}.cards{display:flex;gap:20px;margin-top:40px}
.card{padding:35px;border-radius:25px;flex:1;background:white}.orange{background:#fff1e8}.blue{background:#eaf3ff}.green{background:#e8fff0}
span{color:#1769ff}
